@import "~bootstrap-sass/assets/stylesheets/bootstrap/variables";
@import "~bootstrap-sass/assets/stylesheets/bootstrap/mixins/_grid.scss";

.photo-thumb {
  vertical-align: middle;
  display: inline-block;

  padding-left: 0;
  padding-right: 0;
  margin: 15px;
  box-shadow: 0 0 12px rgba(0, 0, 0, 0.3);

  &:hover {
    background-color: rgba(0, 0, 0, 0.2);
    cursor: pointer;
    box-shadow: 0 0 12px rgba(0, 0, 0, 0.6);
  }
}
