@use './variables' as *;
@use './size_mixins.scss' as *;

.iowa-light-application {
  width: 100%;
  color: $title_color;

  font-family: "Raleway", arial, "times new roman", sans-serif;

  >.iowa-light-banner, .iowa-light-controls {
    position: fixed;
    top: 0;
    width: 100%;
    height: 38px;
    z-index: 50;
    background-color: #2d3647;

    >h1, h4 {
      margin: 0;
      font-weight: 300;
      cursor: pointer;
      text-align: center;
    }
  }

  .iowa-light-controls {
    top: 38px;
  }

  .photo-groups,
  .collection-names-only {
    list-style: none;
    margin: 100px 0 0 0;
    padding: 0;

    ul,
    ol {
      list-style: none;
      padding: 0;
    }
  }

  .photo-groups>li {
    padding-bottom: 50px;

    @include min-screen(1366px) {
      padding-bottom: 120px;
    }
  }

  .photo-thumb,
  .transitionable-photo-thumb>*[class*="shark"][style^="background-image"] {
    background: no-repeat center center;
    background-size: 100%;
    cursor: pointer;

    opacity: 1.0;

    -webkit-transition: opacity 0.25s;
    -moz-transition: opacity 0.25s;
    -ms-transition: opacity 0.25s;
    -o-transition: opacity 0.25s;
    transition: opacity 0.25s;

    box-shadow: 0 0 11px rgba(0, 0, 0, 0.1);
  }

  .transitionable-photo-thumb>*:not([style^="background-image"]) {
    opacity: 0;
  }

  .collection-items {
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;

    @include default_portrait_widths();
    @include default_landscape_widths();

    @include min-screen(1366px) {
      height: unset;
    }

    >li {
      >.photo-thumb,
      >.transitionable-photo-thumb>*[class*="shark"][style^="background-image"] {
        height: 210px;
      }

      &:first-child {
        >.photo-thumb,
        >.transitionable-photo-thumb>*[class*="shark"][style^="background-image"] {
          @include default_portrait_widths();
        }

        >.photo-thumb,
        >.transitionable-photo-thumb[data-tags*="portrait"]>*[class*="shark"][style^="background-image"] {
          @include default_portrait_widths();
          background-size: contain;
        }

        @include landscape() {
          >.photo-thumb,
          >.transitionable-photo-thumb>*[class*="shark"][style^="background-image"] {
            @include default_landscape_widths();
          }

          >.photo-thumb,
          >.transitionable-photo-thumb[data-tags*="portrait"]>*[class*="shark"][style^="background-image"] {
            @include default_landscape_widths();
          }
        }
      }

      &:not(:first-child) {
        >.photo-thumb,
        >.transitionable-photo-thumb>*[class*="shark"][style^="background-image"] {
          opacity: 0.5;
          backface-visibility: hidden;
          background-size: 102%;

          -webkit-transition: background-size 0.15s;
          -moz-transition: background-size 0.15s;
          -ms-transition: background-size 0.15s;
          -o-transition: background-size 0.15s;
          transition: background-size 0.15s;

          &:hover {
            transform: scale(1, 1);
            background-size: 105%;
          }

          height: 70px;

          @include default_portrait_widths();
          @include default_landscape_widths();
          @include widths_by_column(4);

          @include min-screen(1366px) {
            opacity: 0.82;

            &:hover {
              opacity: 1.0;
            }
          }

        }
      }
    }
  }

  .collection-info-container {
    text-align: center;
  }

  .collection-name-and-time {
    display: inline-block;
    padding: 10px 50px;
    font-weight: 100;
    text-align: center;
  }

  .collection-names-only {
    margin: 0 auto;
    width: 100%;

    >li {
      display: inline-block;
      width: 100%;
      margin: 0 0.4em;

      >h3 {
        cursor: pointer;
        font-weight: normal;
        white-space: nowrap;
        overflow: hidden;
        -ms-text-overflow: ellipsis;
        text-overflow: ellipsis;
        text-align: center;
        width: 100%;
      }
    }
  }
}
