html, body {
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
  background-color: #000;
  font-family: Century Gothic, 'Lucida Sans Unicode', sans-serif;
  color: rgba(0, 0, 0, .9);
  overflow: hidden;
}

body {
  background-image: url('./art/rtWa0LRGXevQ.jpg');
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}

#photography-app-container {
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
  height: 100%;
  width: 100%;
}
