html,
body {
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
  background-color: #2d3647;
  font-family: Century Gothic, 'Lucida Sans Unicode', sans-serif;
  overflow: hidden;
}

#photography-app-container {
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
  height: 100%;
  width: 100%;
}
